USE [master]
GO
/****** Object:  Database [QuanLy]    Script Date: 12/12/2023 11:54:45 AM ******/
CREATE DATABASE [QuanLy]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLy', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QuanLy.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLy_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QuanLy_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLy].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLy]
GO
/****** Object:  Table [dbo].[BaoTri]    Script Date: 12/12/2023 11:54:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaoTri](
	[Id] [uniqueidentifier] NOT NULL,
	[IdTB] [uniqueidentifier] NOT NULL,
	[NgayBaoTri] [date] NULL,
	[NgayKetThuc] [date] NULL,
	[GhiChu] [nvarchar](max) NULL,
	[TrangThai] [int] NULL,
 CONSTRAINT [PK_BaoTri] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThietBi]    Script Date: 12/12/2023 11:54:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThietBi](
	[Id] [uniqueidentifier] NOT NULL,
	[Ten] [nvarchar](50) NULL,
	[NgayCap] [datetime] NULL,
	[ViTri] [nvarchar](50) NULL,
	[SoLuong] [int] NULL,
	[TinhTrang] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_ThietBi] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThietBiMuonTra]    Script Date: 12/12/2023 11:54:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThietBiMuonTra](
	[Id] [uniqueidentifier] NOT NULL,
	[IdTB] [uniqueidentifier] NOT NULL,
	[TenNguoiMuon] [nvarchar](50) NULL,
	[NgayMuon] [date] NULL,
	[NgayTra] [date] NULL,
	[SoLuong] [int] NULL,
	[GhiChu] [nvarchar](max) NULL,
	[TrangThai] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_ThietBiMuonTra] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[BaoTri]  WITH CHECK ADD  CONSTRAINT [FK_BaoTri_ThietBi] FOREIGN KEY([Id])
REFERENCES [dbo].[ThietBi] ([Id])
GO
ALTER TABLE [dbo].[BaoTri] CHECK CONSTRAINT [FK_BaoTri_ThietBi]
GO
ALTER TABLE [dbo].[ThietBiMuonTra]  WITH CHECK ADD  CONSTRAINT [FK_ThietBiMuonTra_ThietBi] FOREIGN KEY([IdTB])
REFERENCES [dbo].[ThietBi] ([Id])
GO
ALTER TABLE [dbo].[ThietBiMuonTra] CHECK CONSTRAINT [FK_ThietBiMuonTra_ThietBi]
GO
USE [master]
GO
